/* styles/globals.css */

/* Estilos predefinidos */

html,
body {
  padding: 0;
  margin: 0;
}

 body {
  overflow-x: hidden;
} 

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
strong,
a,
label,
button {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

[class*="text-center"] {
  text-align: center;
}

[class*="row"] {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

[class*="mb-10"] {
  margin-bottom: 10px;
}

[class*="mb-20"] {
  margin-bottom: 20px;
}

[class*="mb-30"] {
  margin-bottom: 30px;
}

[class*="mb-40"] {
  margin-bottom: 40px;
}

[class*="mb-50"] {
  margin-bottom: 50px;
}

[class*="mb-60"] {
  margin-bottom: 60px;
}

[class*="mb-70"] {
  margin-bottom: 70px;
}

[class*="mt-5"] {
  margin-top: 5px;
}

[class*="mt-10"] {
  margin-top: 10px;
}

[class*="mt-20"] {
  margin-top: 20px;
}

[class*="mt-30"] {
  margin-top: 30px;
}

[class*="mt-40"] {
  margin-top: 40px;
}

[class*="mt-50"] {
  margin-top: 50px;
}

[class*="mt-60"] {
  margin-top: 60px;
}

[class*="mt-70"] {
  margin-top: 70px;
}

[class*="pb-10"] {
  padding-bottom: 10px;
}

[class*="pb-20"] {
  padding-bottom: 20px;
}

[class*="pb-30"] {
  padding-bottom: 30px;
}

[class*="pb-40"] {
  padding-bottom: 40px;
}

[class*="pb-50"] {
  padding-bottom: 50px;
}

[class*="pb-60"] {
  padding-bottom: 60px;
}

[class*="pb-70"] {
  padding-bottom: 70px;
}

[class*="pt-10"] {
  padding-top: 10px;
}

[class*="pt-20"] {
  padding-top: 20px;
}

[class*="pt-30"] {
  padding-top: 30px;
}

[class*="pt-40"] {
  padding-top: 40px;
}

[class*="pt-50"] {
  padding-top: 50px;
}

[class*="pt-60"] {
  padding-top: 60px;
}

[class*="pt-70"] {
  padding-top: 70px;
}



.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-1,
.col-1,
.col-11,
.col-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

[class*="col-1"] {
  flex: 0 0 8.333333%;
  max-width: 8.33333%;
}

[class*="col-2"] {
  flex: 0 0 16.6666667%;
  max-width: 16.666667%;
}

[class*="col-3"] {
  flex: 0 0 25%;
  max-width: 25%;
}

[class*="col-4"] {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

[class*="col-5"] {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

[class*="col-6"] {
  flex: 0 0 50%;
  max-width: 50%;
}

[class*="col-7"] {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

[class*="col-8"] {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

[class*="col-9"] {
  flex: 0 0 75%;
  max-width: 75%;
}

[class*="col-10"] {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

[class*="col-11"] {
  flex: 0 0 91.6666667%;
  max-width: 91.6666667%;
}

[class*="col-12"] {
  flex: 0 0 100%;
  max-width: 100%;
}

.offset-9 {
  margin-left: 75%;
}

[class*="bold"] {
  font-weight: bold;
}

[class*="fs-10"] {
  font-size: 10px;
}

[class*="fs-20"] {
  font-size: 20px;
}

[class*="fs-30"] {
  font-size: 30px;
}

[class*="fs-40"] {
  font-size: 40px;
}

[class*="fs-50"] {
  font-size: 50px;
}

[class*="fw-bold"] {
  font-weight: bold;
}

.m0 {
  margin: 0 !important;
}

.pd0 {
  padding: 0 !important;
}

.w-100 {
  width: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
}

[class*="text-flex"] {
  display: flex;
}

[class*="fondo-1"] {
  background-color: #000000;
}

[class*="fondo-2"] {
  background-color: #FFF;
}

[class*="fondo-3"] {
  background-color: #00F622;
}

[class*="fondo-4"] {
  background-color: #320eff;
}

[class*="fondo-5"] {
  background-color: #fd000d;
}

[class*="fondo-6"] {
  background-color: #ff00f2;
}
[class*="fondo-7"] {
  background-color: aquamarine;
}

[class*="color-1"] {
  color: #fff;
}

[class*="color-2"] {
  color: #00f622;
}

[class*="color-3"] {
  color: #000;
}

[class*="btn"] {
  background-color:transparent;
  color: #FFF;
  border: 5px solid #FFF;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn__hov:hover {
  background-color: #0ccc35;
}

[class*=btn__hov__2]:hover {
  background-color: #000;
}

.error{
  font-size: 2.4rem;
  text-align: center;
  margin-top: 5rem;
}

.error__enlace {
  font-size: 1.8rem;
  display: block;
  text-decoration: none;
  color: var(--primary)
}




/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
